<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body class="container">
<header th:replace="fragments :: header"></header>

<form method="post">
    <div>
    <th:block th:each = "cat : ${categories}">
        <div class="form-group">
            <label>
                <span th:text = "${cat.name}"></span>
                <input type="checkbox" name="eventCatIds" th:value="${cat.id}" class="form-control">
            </label>
        </div>
    </th:block>
    </div>
    <input type="submit" value="Delete Category" class="btn btn-danger">

</form>

</body>
</html>